<div style="white-space:nowrap">
  <%= build_wo_hours_col %><%= build_wo_cols(@work_orders) %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var gapMessage
    $(".wo-gap").click(function(){
      gapMessage = "Hours: " + $(this).data("hours") + " Minutes: " + $(this).data("minutes")
      alert(gapMessage)
    })
  })
</script>
